
<div class="container login" >
    <div class="login-info">
        Try this demo with "user/1234"
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="input-field col s12">
                <input [(ngModel)]="user.name" id="name" type="text">
                <label for="name">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input [(ngModel)]="user.password" id="password" type="password">
                <label for="password">Password</label>
            </div>
        </div>

        <div class="error-info">{{errorMsg}}</div>
        <button (click)="login()"
            class="btn waves-effect waves-light"
            type="submit" name="action">Login</button>
    </div>
</div>